/* HEADER */
/*Header Part that is Garnet */
#bottomh-nav {
  padding: 8px;
  background-color: var(--accent-color);
  padding-left: 0;

  display: flex;
  justify-content: center;
}

#bottomh-nav li {
  list-style: none;
  margin-right: 50px;
}

/* Famous Southern Cooking Recipes Section */
#toph-nav {
  display: flex;
  padding-left: 50px;
  font-size: large;
  color: var(--text-color);
}
/* Text in the Black Part of the Header */
.htop-nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  display: block;
}

/* Typography */
.bold {
  font-weight: bold;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Navagation*/
.h-nav a {
  text-decoration: none;
  color: var(--text-color);
}
#main-header {
  background: var(--primary-color);
}
.box {
  width: 700px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 20px;
}

.container {
  gap: 210px;
  display: flex;
  background-color: var(--accent-color);
}
.text-box {
  text-align: center;
  margin-top: 10px;
  font-size: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container div {
    width: 100%;
  }
}

:root {
  --primary-color: rgb(43, 141, 173);
  --secondary-color: #90464c;
  --accent-color: #b58f92;
  --text-color: white;
}
