/* HEADER */
/* Header Part that is Garnet */
#bottomh-nav {
  padding: 8px;
  background-color: var(--secondary-color);
  padding-left: 0;
  display: flex;
  justify-content: center;
}

#bottomh-nav li {
  list-style: none;
  margin-right: 50px;
}

/* Famous Southern Cooking Recipes Section */
#toph-nav {
  display: flex;
  padding-left: 50px;
  font-size: large;
  color: var(--text-color);
}

/* Text in the Black Part of the Header */
.htop-nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  display: block;
}

/* Typography */
.bold {
  font-weight: bold;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Navigation */
.h-nav a {
  text-decoration: none;
  color: var(--text-color);
}

#main-header {
  background: var(--primary-color);
}

.content {
  background-color: var(--accent-color);
  padding: 20px; /* Add padding around the content */
}

.large-box {
  background-color: var(--secondary-color);
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.small-boxes {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.image {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 575px;
  padding-right: 20px;
}

.small-box {
  background-color: var(--other-color);
  width: 30%;
  height: auto; /* Allow height to adjust based on content */
  align-items: flex-start; /* Align items at the start */
  font-size: 16px;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: flex-start; /* Start from the top */
  margin: 0 10px;
  padding: 15px; /* Add padding inside the box */
}

.small-box h2 {
  margin-bottom: 10px; /* Space below the header */
}

.small-box p {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Improve readability */
}

.title {
  padding-left: 40px;
  padding-top: 20px;
  font-size: larger;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container div {
    width: 100%;
  }
}

:root {
  --primary-color: rgb(157, 111, 65);
  --secondary-color: #655331;
  --accent-color: #a19983;
  --text-color: white;
  --other-color: #c07f46;
}
