/* Structure */
:root {
  --primary-color: rgb(43, 141, 173);
  --secondary-color: #90464c;
  --accent-color: #b58f92;
  --text-color: white;
}

#main-header {
  background: var(--primary-color);
}

/*First Header under the big picture */
#sub-header {
  text-align: center;
  color: var(--text-color);
  position: relative;
}
#sub-header-text {
  padding: 50px;
  text-align: center;
}
#sub-header-box {
  margin: 0;
  background-color: var(--secondary-color);
  padding: 5px;
  display: inline-block;
  text-align: left;
}

/*Sidebar */
.right-side {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 20px;
  position: relative;
  overflow: hidden;
  flex: 1.05;
}
.sidebar-image {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.explore-degree {
  align-items: stretch;
  display: flex;
}

.paying-for-school {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1;
}
.paying-for-school p {
  color: var(--accent-color);
}

.button2 {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  background-color: var(--accent-color);
  color: var(--text-color);

  padding: 10px;
  border: 2px solid var(--text-color);
  font-size: 30px;
}

.img {
  margin: 4px;
  flex: 1;
  background-color: var(--secondary-color);
  text-align: center;
}

/* Take the Next Step */
.take-step {
  display: flex;
  color: var(--text-color);
  background-color: var(--secondary-color);
}
.take-step img {
  margin-right: 15px;
}
.take-step .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.step-content p {
  color: var(--text-color);
  line-height: 1;
  font-size: larger;
  padding-top: 0;
}

/* Navigation */

/*Header Part that is Garnet */
#bottomh-nav {
  padding: 8px;
  background-color: var(--secondary-color);
  padding-left: 0;

  display: flex;
  justify-content: center;
}

#bottomh-nav li {
  list-style: none;
  margin-right: 50px;
}

/* Famous Southern Cooking Recipes Section */
#toph-nav {
  display: flex;
  padding-left: 50px;
  font-size: large;
  color: var(--text-color);
}
/* Text in the Black Part of the Header */
.htop-nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  display: block;
}

/* Typography */
.bold {
  font-weight: bold;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Main Navagation*/
.h-nav a {
  text-decoration: none;
  color: var(--text-color);
}
