/* Structure */

#main-header {
  background: black;
}


/* Logo img in the header */
.logo img {
    height: 75px;
    width: 400px;
    padding-bottom: 20px;
    padding-left: 310px;
  }

  /*First Header under the big picture */
  #sub-header {
    text-align: center;
    color: white;
    position: relative;
  
  }

  #sub-header-box {
    margin: 0;
    background-color: #73000a;
    
  }

  /*Sidebar */
  .right-side {
    background-color: #73000a;
    color: white;
    padding: 20px;
    position: relative;
    overflow: hidden;
    flex: 0.7;
    
  }
  .sidebar-image {
    width: 100%;
    height: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
    object-fit: cover;

  }
  .explore-degree {
    align-items: stretch;
    display: flex;
  }

  .educational-investment {
    text-align: center;
    background-color: #ececec;
    text-align: center;
    color: #73000a;
    padding: 40px;
    line-height: 2;
  }
  
  .paying-for-school{
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    background-color: white;
    color: #73000a;
    line-height: 2;
  }
 .paying-for-school p {
  color: black;
  text-align: center;
 }

   .img{
    margin: 8px;
    flex: 1;
    background-color: white;
    text-align: center;
  }

  /* Take the Next Step */
  .take-step {
    display: flex;  
    color: #ffffff;
    background-color: black;
    justify-content: center; 
    align-items: center;  
  }

  .take-step img {
    margin-right: 25px;  
}

.take-step .content {
    display: flex;  
    flex-direction: column;  
    flex: 1;  
    align-items: flex-start;  
}

.take-step h2 {
    margin-bottom: 10px;  
}
  .step-content{
    background-color: black;
    color: #ffffff;
    line-height: 2;
  }
  
/*Footer*/
.footer-items {
  background-color: #73000a;
  
}
.footer-items li {
  list-style: none;
  text-decoration: none;
  color: white;
}
.footer-items a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.white-text {
  flex-direction: column;
  display: flex;
}





/* Navigation */

/*Header Part that is Garnet */
#bottomh-nav {
  padding: 2px;
  background-color: #73000a;
  padding-left: 0;
 
  display: flex;
  justify-content: center;

}

#bottomh-nav li {
  list-style: none;
  margin-right: 50px;
  
}


/* Header Part that is black */
#toph-nav{
  display: flex;
  justify-content: flex-end;
  padding-right: 200px;
}

/* Typography */
.bold {
  font-weight: bold;
  display: flex;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*Text for the Black Part of the Header */
#toph-nav {
  font-size: xx-small;
}

/* Text in the Red Part of the Header */
.h-nav a {
  text-decoration: none;
  color: white;
}

/* Text in the Black Part of the Header */
.htop-nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}
