#main-header h1,
h2 {
  text-align: center;
}

/* Structure */
body {
  background-color: #1a9ac4;
}

.column {
  background: #cccfd9;
  margin: 20px;
  border-radius: 15px;
  padding: 5px;
}

#container {
  display: flex;
}

.column img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */

a {
  text-decoration: none;
  color: #084182;
}

/* Typography */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.column h3,
.column p {
  text-align: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {
  #main-nav li {
    flex: 1;
  }
}
@media (max-width: 768px) {
  #container {
    display: block;
  }
}
