h1 {
  color: #b22e2e;
  margin: 0;
}

h2 {
  color: #f44336;
  margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

/*Images*/
.image-block {
  height: 275px;
  width: 175px;
  display: flex;
}

/* Titles for the images */
#image-title {
  font-size: 25px;
  font-weight: bold;
}

#image-subtitle {
  color: #020202;
  font-size: 22px;
}

/*Stacks the images nicely with each other*/
.stack {
  gap: 12px;
  background-color: #c09191;
  padding: 25px;
  grid-template-columns: repeat(3, 1fr); /* Puts in 3 columns */
  justify-items: center;
  display: grid;
}

/*Sub Credit */

.imgcred {
  margin-top: 15px;
  font-size: 12px;
  color: #080808;
  position: relative;
  left: -750px;
}

/* Footer */
.footer {
  margin-top: auto;
  color: rgb(51, 81, 191);
  text-align: center;
  position: relative;
  bottom: -100px;
}

/*Media Querey*/
@media (min-width: 1400px) {
  .footer {
    margin-top: -100px;
  }
}
